.events-section {
  background-color: @main-background-color;
  padding: 4rem 0;
  width: 100%;
  display: block;



  .event-card {
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    .p-4();
    .shadow();
    .rounded-lg();
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-5px);
      .shadow-lg();
    }

    &.highlight {
      background-color: rgb(244, 244, 244);
      color: @primary-text-color;
      justify-content: center;
      text-align: center;

      h3 {
        color: white;
      }

      .btn-programas {
        display: inline-block;
        margin-top: 10px;
        color: @primary-text-color;
        background: @primary-background-color;
        padding: 10px 20px;
        text-decoration: none;
        .rounded();
        font-weight: bold;
      }
    }

    .event-date {
      font-size: 2rem;
      font-weight: bold;
      color: @primary-background-color;
      border-bottom: 2px solid @primary-background-color;
      margin-bottom: 1rem;
      display: flex;
      align-items: baseline;
      gap: 5px;

      span {
        font-size: 1rem;
        text-transform: uppercase;
      }
    }

    .event-info {
      h3 {
        margin: 0 0 0.5rem 0;
        font-size: 1.2rem;
        color: black;
      }

      p {
        margin: 0 0 1rem 0;
        color: @primary-text-color
      }

      .event-link {
        color: @primary-background-color;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.9rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}