@primary-background-color: #0078EB;
@primary-text-color: black;
@primary-separator-color: gray;
@main-background-color: white;
@content-primary-background: white;
@content-primary-text: #000000;
@primary-span-color:rgb(0, 0, 0);
@header-link-color: #000000;
@primary-footer-color: white;
@timeline-bg: #f0f7ff;